.scnd-long-box {
  width: 550px;
  top:0;
  height: 125px;               
  background-color: #18123C;
  padding: 40px;
  justify-content: center;
  align-items: center;
  color:white;
  text-align: center;
}
.scnd-long-box h2 {
  font-size: 80px;
  margin: 0;
  letter-spacing: 2px;
  font-family: 'Germania One', serif;
  
}
.daily {
  position: fixed;
  left: 25%;             
  transform: translateY(50%) rotate(270deg); 
  font-size: 20px;
  top:60px;
  font-family: 'Outside', serif;
  letter-spacing: 2px;
}
.long-box {
  width: 550px;
  height: 100vh;               
  background-color: #F6F4FF;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;      
  align-items: center;         
  padding: 40px;
}

.logo-bg{
  width: 400px;
  height: 400px; 
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  display: flex;  
}
.logo-bg img {
  width: 390px;   
  height: auto;
  display: block;

  margin: 0 auto;
}

body{ background-color: #cdd0ec; }

#grid td{ 
    width: 50px;
    height: 48px;
    border:1px ;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    font-family:'Kiwi Maru', serif;
    font-size: 33px;
    user-select:none;
   
}
#grid td:hover{

    cursor:pointer;
}

#grid td.selected{
    background-color: rgb(255, 143, 165);
    
    
}

#grid td.dragging{
    background-color: rgb(255, 135, 159);
    opacity: 60%;
  
}

#grid table{
    margin:20px auto;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;

}

#library table{
    background-color: #fbfbff;
    width: 800px;
    height: 175px;
    align-self: center;
    border-radius: 12px;
    margin: auto;
}

.found{
    text-decoration: line-through;
}

#library td{
    font-size: 23px;
    font-weight: bold;
    font-family:'Kiwi Maru', serif;
    border:1px solid #fbfbff;
    border-collapse: separate;
    border-spacing: 20px,10px;
    text-align: center;
}
